<div style='border: 3px dashed red'>
	<center>
		<!-- @Name es cargado del enrutador (app.rb) -->
		<% if @name %>
		<h1>My name is <%= @name %></h1>
		<% end %>
		<img src='http://bit.ly/1eze8aE'>
		<br>
		<form action="/named-cat">
			<label>Name it:</label>
			<input type="text" name="name">
			<input type="submit" value="Submit">
		</form>
	</center>
</div>